* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding: 0 30px 0 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}

header nav {
  float: right;
}

nav ul {
  margin: 40px 0 0 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}

header h3 {
  float: left;
  font-size: 30px
}

#header a:hover {
  text-decoration: underline;
}

header h3 a{
  text-decoration: none;
  color: #868e96;
}



}
main{
  margin-top: 20px;
}

div.jumbotron {
  border-radius: 5px;
  background-color: #e9ecef;
  padding: 10px;
  text-align: center;
}

.jumbotron h1{
  font-size: 60px;
}

.jumbotron p {
  font-size: 20px;
  padding: 0 40px 0 40px;
  line-height: 40px;
}

div.questions {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

div.questions h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
/*All a tags of class btn inside a div of class qustions */
/*Add a style for all a tags with a btn class within a div of class questions.
The style should make the a tags have a border-radius of 5px, a color of #FFF,
a background-color and border-color of #007bff, no text-decoration, a padding of 18px, and a font-size of 20px.
Add a style for the hover state of all a tags with a btn class within a div of class questions. On hover,
those links should have a background and border color of #0069d9.*/
div.questions p {
  margin-top: 30px;
}

div.questions a.btn:hover{
  background-color: #0069d9;
  border-color: #0069d9;
}
div.questions a.btn {
  border-radius: 5px;
  color: #FFF;
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
  padding: 18px;
  font-size: 20px;
}


footer{
  border-top: 1px solid #ccc;
  margin-top: 80px;
  padding-top: 20px;
  color: #CCC;
}
